<?define name = "IDEasy"?>
<?define version = "1.0.0"?>
<?define publisher = "devonfw-ide"?>
<?define guid = "ba3ad5c0-94e9-42c3-9374-efaaddd3b967"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.name)"
    Manufacturer="$(var.publisher)"
    Version="$(var.version)"
    UpgradeCode="$(var.guid)"
    Scope="perMachine">

    <!-- Specifying a license file -->
    <WixVariable Id="WixUILicenseRtf" Value=".\assets\LICENSE.rtf" />
    <!-- Replacing the default bitmaps -->
    <WixVariable Id="WixUIBannerBmp" Value=".\assets\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value=".\assets\dialog.bmp" />

    <!-- Include the whole setup folder for windows -->
    <Files Include="msi-setup\**" />

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="RemoveINSTALLDIR" Guid="$(var.guid)">
      <RemoveFile Id="RemoveAllMsiSetupFiles" Name="*" On="uninstall" />
      <!-- <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" /> -->
      <RegistryValue
        Root="HKLM"
        Key="SOFTWARE\[Manufacturer]\[ProductName]\RemoveMsiSetupFiles"
        Name="dummy"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Specifying default directory-->
    <Directory Id="ROOTDIRECTORY">
      <Directory Id="INSTALLFOLDER" Name="projects" />  
    </Directory>

    <!-- Specifying custom actions-->
    <CustomAction Id="RunSetupAction" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]_ide\setup.bat -b" Execute="deferred" Return="check" />
    <CustomAction Id="RunUninstallAction" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]_ide\ideeasy uninstall" Execute="deferred" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="RunSetupAction" Condition="NOT Installed" After="InstallFiles" />
      <Custom Action='RunUninstallAction' Condition="Installed AND NOT UPGRADINGPRODUCTCODE" After="InstallInitialize" />
    </InstallExecuteSequence>

    <!-- UI Element -->
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

  </Package>
</Wix>
