<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="IDEasy" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="1848091f-6184-451b-ba4c-097662e2cfaa">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="main">
			<!-- Include the whole setup folder for windows -->
			<Files Include="msi-setup\**" />
		</Feature>

		<!-- Specifying a license file -->
		<WixVariable Id="WixUILicenseRtf" Value=".\assets\LICENSE.rtf" />
		<!-- Specifying bitmaps for UI -->
		<WixVariable Id="WixUIBannerBmp" Value=".\assets\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value=".\assets\dialog.bmp" />

		<!-- Embedd .cab cabinett file with setup folder inside -->
		<MediaTemplate EmbedCab="yes" />

		<!-- Custom Action for own INSTALLFOLDER validation in c#-->
		<Binary Id="OwnValidationDll" SourceFile="CustomActionValidation.CA.dll"/>
		<CustomAction Id="OwnValidationCA" BinaryRef="OwnValidationDll" DllEntry="ValidatePath" Execute="immediate" Impersonate="yes" Return="check" />
		<!-- Speciying Property Elements to keep track of validation return-->
		<Property Id="INSTALLFOLDER_VALID" Value="1" />
		<Property Id="VALIDATION_ERROR" Value="-" />

		<!-- Specifying default directory shown in InstallDirDlg UI-->
		<Directory Id="ROOTDIRECTORY">
			<Directory Id="INSTALLFOLDER" Name="projects" />
		</Directory>

		<!-- Specifying setup.bat script-->
		<SetProperty
			Id="RunSetupAction"
			Value="&quot;[INSTALLFOLDER]_ide\setup.bat&quot; -b"
			Before="RunSetupAction"
			Sequence="execute"
			/>

		<!-- Specifying custom actions-->
		<CustomAction
			Id="RunSetupAction"
			BinaryRef="Wix4UtilCA_X64"
			DllEntry="WixQuietExec"
			Execute="deferred"
			Impersonate="yes"
			Return="ignore"
			/>
			
		<!-- Specifying custom actions-->
		<CustomAction
			Id="RunUninstallAction"
			Directory="INSTALLFOLDER"
			ExeCommand="[SOURCEDIR]scripts/path_validation.bat"
			Execute="deferred" Return="ignore"
		/>

		<!-- Specifying Custom Actions trigger points in installation-->
		<InstallExecuteSequence>
			<Custom Action="RunSetupAction" Condition="NOT Installed" Before="InstallFinalize" />
			<Custom Action='RunUninstallAction' Condition="Installed AND NOT UPGRADINGPRODUCTCODE" After="InstallInitialize" />
		</InstallExecuteSequence>

		<!-- UI Element -->
		<ui:WixUI Id="WixUI_InstallDirCustom" InstallDirectory="INSTALLFOLDER" />
		
  </Package>
</Wix>
