* eol=lf
*.bat eol=crlf
*.ps1 eol=crlf
*.ps2 eol=crlf
*.sh eol=lf
*.command eol=lf
*.png binary
*.zip binary
*.tgz binary
*.tar binary
*.bz2 binary
*.gz binary

# special handling for test files
studio64.exe text
idea64.exe text
