VBox {

  -fx-background-color: #B0E0E6;
}

.sideNavigationElement {

    -fx-border-radius: 0;
    -fx-background-color: #ADD8E6;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-text-fill: #000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

  }

HBox {

  -fx-background-color: #B0E0E6;
}

.chooseProject {

  -fx-background-color: #FFF;
  -fx-font-size: 14px;
  -fx-font-family: Arial;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}
