<?define ProductName = "IDEasy" ?>
<?define Manufacturer = "devonfw" ?>
<?define ProductVersion = "1.0.0" ?>
<?define UpgradeCode = "1848091f-6184-451b-ba4c-097662e2cfaa" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)" Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="main">
			<!-- Include files that has to be installed -->
			<Files Include="msi-files\**" />
      <Component Id="setEnv" Directory="INSTALLFOLDER" Guid="8bea8575-87ca-4847-8b8b-202b6e34901e">
        <CreateFolder/>
        <Environment Id="IdeRoot" Name="IDE_ROOT" Value="[IDE_ROOT]" Permanent="yes" Action="set" System="no" />
      </Component>
		</Feature>

		<MediaTemplate EmbedCab="yes" />
		<WixVariable Id="WixUILicenseRtf" Value=".\assets\LICENSE.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value=".\assets\banner.bmp" />

		<Property Id="INSTALLTYPE" Value="USERHOME" />
	  <Property Id="USERFOLDER" >
			<DirectorySearch Id="userProfileSearch" Depth="0" Path="[%USERPROFILE]" />
		</Property>
		<Directory Id="USERFOLDER" >
			<Directory Id="IDE_ROOT" Name="projects" />
		</Directory>
		<Directory Id="ROOTDIRECTORY" />

    <CustomAction Id="SetIDE_ROOT" Property="IDE_ROOT" Value="[ROOTDIRECTORY]projects" Execute="immediate" Return="check" />
    <CustomAction Id="SetTEMP_FOLDER" Property="INSTALLFOLDER" Value="[IDE_ROOT]\_ide\tmp\ideasy" Execute="immediate" Return="check" />

		<!-- Execution of install command-->
		<SetProperty
			Id="RunInstallAction"
			Value='"[%SystemFolder]cmd.exe" /c "cd /d [INSTALLFOLDER] &amp;&amp; bin\ideasy.exe -f install > install.log"'
			Before="RunInstallAction"
			Sequence="execute"
			/>
		<CustomAction
			Id="RunInstallAction"
			BinaryRef="Wix4UtilCA_X64"
			DllEntry="WixQuietExec"
			Execute="deferred"
			Impersonate="yes"
			Return="check"
			/>

    <!-- Execution of uninstall command-->
    <SetProperty
      Id="RunUninstallAction"
			Value='"[%SystemFolder]cmd.exe" /c "mkdir [%USERPROFILE]\.ide &amp;&amp; echo On %date% you accepted the IDEasy License. > [%USERPROFILE]\.ide\.license.agreement &amp;&amp; [%IDE_ROOT]\_ide\installation\bin\ideasy.exe -f uninstall > [%IDE_ROOT]\uninstall.log"'
      Before="RunUninstallAction"
      Sequence="execute"
      />
    <CustomAction
      Id="RunUninstallAction"
      BinaryRef="Wix4UtilCA_X64"
      DllEntry="WixQuietExec"
      Execute="deferred"
      Impersonate="yes"
      Return="ignore"
      />

		<!-- Specifying when Custom Actions should run -->
		<InstallExecuteSequence>
			<Custom Action="RunInstallAction" Condition="NOT Installed" Before="InstallFinalize" />
			<Custom Action='RunUninstallAction' Condition="Installed AND NOT UPGRADINGPRODUCTCODE" After="InstallInitialize" />
		</InstallExecuteSequence>

		<!-- Custom UI Reference -->
		<ui:WixUI Id="WixUI_InstallDirCustom" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>
