[Desktop Entry]
Version=$[project.version]
Type=Application
Name=IDEasy GUI
Comment=Launch IDEasy GUI
Exec=IDEASY_BIN gui
Icon=IDEASY_ICON
Terminal=false
Categories=Development;
StartupNotify=true
