name: CI build
on:
  push:
    paths-ignore:
      - 'documentation/**'
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Build project with Maven
        run: mvn -B -ntp -Dstyle.color=always install
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.2.3
