name: Mutation Test

# Runs manually
on:
  workflow_dispatch

jobs:

  pitest-report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Run pitest coverage
        run: |
          cd cli
          mvn -B -ntp -Dstyle.color=always test-compile org.pitest:pitest-maven:mutationCoverage -DtargetClasses=com.devonfw.tools.ide* -DtargetTests=com.devonfw.tools.ide*
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: pit-report
          path: cli/target/pit-reports
