name: Build and deploy a release including native-images
on: push
jobs:
  build-natives:
    name: Build native images
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: feature/release-workflow

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17.0.7'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Build native images with nativ maven plugin and extract in tar.gz
        shell: bash
        run: |
          maven_config="$(cat .mvn/maven.config)"
          current_version="${maven_config/#*-Drevision=}"
          current_version="${current_version/ */}"
          cd cli
          mvn -B -ntp -Pnative -DskipTests=true package
          
      - uses: actions/upload-artifact@v3
        with:
          name: natives
          path: cli/target/*.tar.gz

          
  attach-artifacts:
    name: Attach OS specific tar.gz and create release
    runs-on: ubuntu-latest
    needs: [build-natives]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '17'
      - uses: actions/download-artifact@v3
      - name: Create release for Nexus and Github
        run: |
          maven_config="$(cat .mvn/maven.config)"
          current_version="${maven_config/#*-Drevision=}"
          current_version="${current_version/ */}"
          mv ./natives/* ./cli/
          ls -R
          mvn -B -ntp -DskipTests=true -Dstyle.color=always install
          gh release create ${current_version} ./cli/*.tar.gz

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
