name: Update Security Files

on:
  schedule:
  workflow_dispatch:

jobs:
  update-security-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout IDEasy Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_PUSH_TOKEN }}

      - name: Checkout ide-urls Repository
        uses: actions/checkout@v3
        with:
          repository: devonfw/ide-urls
          path: ide-urls
          token: ${{ secrets.ACTION_PUSH_TOKEN }}

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Cache CVE Database
        id: cache-cve
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository/org/owasp/dependency-check-utils/
          key: owasp-cve-db-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            owasp-cve-db-${{ runner.os }}-
            owasp-cve-db-
      
      - name: Build all modules
        run: mvn -B -ntp install -DskipTests

      - name: Run security JSON generator
        working-directory: security
        run: |
          mvn -B -ntp exec:java \
            -Dexec.mainClass="com.devonfw.tools.IDEasy.dev.BuildSecurityJsonFiles" \
            -Dexec.args="${{ github.workspace }}/ide-urls" \
            -X
        continue-on-error: true
        
      - name: Configure Git
        run: |
          cd ide-urls
          git config --global user.name "${{ secrets.BUILD_USER }}"
          git config --global user.email "${{ secrets.BUILD_USER_EMAIL }}"
      - name: Commit and Push changes to ide-urls
        run: |
          cd ide-urls
          git add .
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update security.json files [auto]"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PUSH_TOKEN }}